

#tile_info_panel
{
    /* position: absolute; */
    /* bottom: 40px; */
    /* right: 20px; */
    /* z-index: var(--z-index-app-html); */

    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;

    user-select: none;
    pointer-events: initial;
}


#tile_info_panel.ui_info_box
{
    width: 300px;
    overflow-y: hidden;
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out 0.2s, padding-top 0.2s ease-in-out, padding-bottom 0.2s ease-in-out;
}
#tile_info_panel.ui_info_box.open
{
    max-height: 400px;
    opacity: 1;
}
#tile_info_panel.ui_info_box.closed
{
    max-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
}
