
#info_button
{
    display: flex;
    align-items: center;
    height: 100%;

    font-size: var(--font-medium);

    /* we have to re-enable them after #app_html disables them */
    pointer-events: initial;
    cursor: pointer;
    user-select: none;
}
