
.ui_button
{
    display: flex;
    align-items: center;
    height: 100%;

    font-size: var(--font-medium);

    /* we have to re-enable them after #app_html disables them */
    pointer-events: initial;
    cursor: pointer;
    user-select: none;

    background-color: white;
    padding: 0px 12px;
    min-height: 36px;
    border: 1px solid var(--colour-border-gray);
    border-radius: 4px;
}


.ui_button.active
{
    border-color: var(--colour-button-active-border);
    background-color: var(--colour-button-active);
}

.ui_section
{
    border: 1px solid var(--colour-border-gray);
    border-radius: 4px;
    padding: var(--padding-small);
    background-color: rgba(255, 255, 255, 0.8);
    /** We re-enable pointer events so that it's easier to debug HTML.  See
    #app_html for justification for disabling pointer events in the first place
    (so that for the 3d views, the pointer events can pass through to them) */
    pointer-events: initial;
}
