
#select_country
{
    display: flex;
    justify-content: right;
    gap: 2px;
    align-items: center;

    font-size: 18px; /* This is for the emoji flag and heart */

    /* we have to re-enable them after #app_html disables them */
    pointer-events: initial;
    cursor: pointer;
}
#select_country.on_wikisim
{
    /** Give extra space so that on WikiSim the close button doesn't overlap with this */
    margin-right: 84px;
}


#countries_list
{
    overflow-y: scroll;
    height: 180px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.countries_list_first_sub_heading,
.countries_list_second_sub_heading
{
    padding-bottom: 10px;
    font-size: var(--font-small);
    font-weight: bold;
}
.countries_list_second_sub_heading
{
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}


.country_row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2px;
}


#subscribe_or_follow
{
    margin-top: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;

    transition: margin-top 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}
#subscribe_or_follow.visible
{
    margin-top: 20px;
    height: 90px;
    opacity: 1;
}
