
#power_status_container
{
    position: absolute;
    /* Hack to cope with drei's <Html> forcing an absolute position on this element */
    top: 20px;  /* view === "digital_twin" ? -375 : -100, */
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--z-index-sim);
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    min-width: 300px;

    user-select: none;
}

#power_status_container table td:nth-child(1),
#power_status_container table td:nth-child(3)
{
    cursor: pointer;
}

.text_shortage
{
    font-size: var(--font-small);
    font-weight: bold;
    text-align: center;
    transition: font-size 0.2s ease, color 0.2s ease;
}
.text_shortage.surplus
{
    color: lightgrey;
}
.text_shortage.shortage
{
    font-size: var(--font-medium);
    color: red;
}

.generated_demand_labels
{
    line-height: 0.9;
    opacity: 0;
    transition: opacity 0.2s ease;
}
#power_status_container:hover .generated_demand_labels
{
    opacity: 1;
}
.generated_demand_label
{
    font-size: var(--font-small);
    font-weight: bold;
    color: rgb(102, 102, 102);
    text-align: right;
}

#power_status_sources
{
    font-size: var(--font-small);
    font-weight: bold;
    color: var(--colour-link);
    text-decoration: underline;
    opacity: 0;
    height: 0px;
    min-height: 0px;
    line-height: 0px;
    transition: opacity 0.2s ease, height 0.2s ease;
}
#power_status_container:hover #power_status_sources
{
    opacity: 1;
    height: 20px;
}
